body{
    margin: 15px;
    font-family: Arial;
    color: white;
}

input[type="button"],button {
    padding: 12px;
    border-radius: 30px;
    border: 0px;
    margin-left: 20px;
}

.section-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 100px;
}

.section-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
   margin-top: 100px;
   gap: 30px;
   
  
   
}

.section-3 {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 80px
}

.picturegif1 {
        margin: 0px;
}

.Try5sessions {
    
    width: 60px;
    height: 100px;
    
}

.lastimg {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 240px;
    gap: 100px;
}

.para {
    display: flex;
    text-align: center;
    font-size: 15px;
    margin-left: 160px;
}
.section-flex{
    display: flex;
    flex-direction: column; justify-content: center;
    align-items: center;
    margin-left: 200px;
}

